.background-container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 560px;
  min-height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px -2px rgba(141, 141, 148, 0.28),
    0 0 2px 0 rgba(141, 141, 148, 0.16);
}

@media only screen and (max-width: 560px) {
  .background-container {
    min-width: unset;
    max-width: unset;
    width: 100%;
  }
}

.display-number {
  width: 48px;
  height: 56px;
  margin: 0 4px 40px 4px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 8px 12px -4px rgba(130, 136, 148, 0.24),
    0 0 4px 0 rgba(141, 141, 148, 0.16), 0 0 2px 0 rgba(141, 141, 148, 0.12);
  color: black;
  font-size: 24px;
  font-weight: bold;
  line-height: 56px;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 560px) {
  .display-number {
    width: 32px;
    height: 48px;
    line-height: 48px;
    font-size: 21px;
  }
}

.display-dash {
  width: 8px;
  height: 56px;
  margin: 0 16px;
  font-size: 24px;
  font-weight: bold;
  color: #a1a5b0;
  text-align: center;
  line-height: 56px;
}

.display-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-link {
  color: #a1a5b0;
  text-decoration: underline;
  font-size: 14px;
  margin: 0 4px;
}
